html, body {
  margin: 0;
}

#container {
  display: flex;
  height: 100vh;
}

textarea {
  font-family: Monaco, monospace;
  font-size: 18px;
  width: 50vw;
  border: none;
  border-right: 1px solid grey;
  resize: none;
  padding: 30px;
  box-sizing: border-box;
}
textarea:focus {
  outline: 0;
}

.preview {
  width: 50vw;
  overflow: scroll;
}
.pagedjs_pages {
  overflow: scroll;
  background-color: grey;
  padding: 50px;
}
.pagedjs_page {
  background-color: white;
  margin: 0 auto;
  margin-bottom: 50px;
}

.htmlEls {
  display: none;
}