.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg);
  height: 100vh;
  padding: 1em;

  --bg: rgba(230, 230, 230);
}
@media (prefers-color-scheme: dark) {
  .root {
    --bg: rgb(37,37,37);
  }
}

.root button {
  margin-top: 1em;
}

.tick {
  display: block;
  margin: 0 auto;
}
