.cm-editor {
  font-family: var(--mono-font);
  color: var(--font-color);
  font-size: 17px;
  height: 100vh;
  background-color: var(--background-color);
}

.cm-content {
  line-height: 1.8em;
  padding-top: 60px !important;
  padding-bottom: 50px !important;
}

.cm-line {
  padding-left: 50px !important;
  padding-right: 50px !important;
  max-width: 40em;
  margin: 0 auto;
}

/*
var(--highlight-font-color)
var(--font-color)
*/
