* {
  -webkit-print-color-adjust: exact; /* force printing of CSS backgrounds */
}
/*
uncomment this when https://gitlab.pagedmedia.org/tools/pagedjs/issues/94 is fixed
@page {
  size: A4;
  margin-top: 1.5cm;
}
*/
