.metaeditor {
  font-family: var(--system-font);
  background-color: var(--background-color);
  color: var(--font-color);
  height: 100vh;
  padding: 50px 20px;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
}

.metaeditor .backbtn {
  position: absolute;
  border: 0;
  padding: 0;
  background: none;
}

.metaeditor .content {
  padding-top: 40px;
  max-width: 50vw;
  margin: 0 auto;
}
.metaeditor h4 {
  font-size: 12px;
  margin: 2em 0 1em 0;
}

.metaeditor .kvs {
  display: grid;
  grid-template-columns: 100px 1fr;
}
.metaeditor label {
  font-size: 12px;
  padding: 3px 10px 0 0;
}

.metaeditor textarea {
  resize: vertical;
  min-height: 7em;
  font-family: var(--mono-font);
}
@media (prefers-color-scheme: light) {
  .metaeditor .darkmodewarning {
    display: none;
  }
}
.metaeditor .darkmodewarning {
  font-size: 12px;
}
