html, body {
  margin: 0;
}
button {
  -webkit-user-select: none;
}
button:active, button:focus {
  outline: none;
}

#container {
  display: flex;
  height: 100vh;
}
#container:before {
  -webkit-app-region: drag;
  content: '';
  position: fixed;
  z-index: 9999;
  top: 0;
  height: 20px;
  width: 100vw;
}

.react-codemirror2 {
  width: 50vw;
  background-color: #f7f7f7;
}

/* Preview */
.preview {
  width: 50vw;
  overflow: hidden;
  background-color: grey;
  position: relative;
}
.previewFrame {
  border: 0;
  transform-origin: 0 0;
}
.preview > button {
  width:  36px;
  height: 36px;
  border-radius: 18px;
  box-shadow: 0 1px rgba(0, 0, 0, .039);
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
.preview > button:active {
  background: lightgrey;
}
.preview:hover > button {
  transition: opacity 0.12s ease-in;
  opacity: 1;
}
.zoomBtn, .exportBtn {
  position: absolute;
  bottom: 10px;
  right:  10px;
  font-size: 27px;
  background: #f7f7f7;
  border: 0;
  cursor: pointer;
  line-height: 1;
  display: block;
}
.zoomIn {
  bottom: 55px;
}
.exportBtn {
  bottom: 100px;
  font-family: sans-serif;
  font-size: 20px;
}