:root {
  /* about system-font: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
  --system-font: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  --mono-font: Menlo, Monaco, 'Lucida Console', Consolas, monospace;

  --background-color: #f7f7f7;
  --underlay-background-color: #808080;
  --overlay-background-color: #ececec;
  --overlay-transparent-background-color: #e6e6e6bf;
  --font-color: #1a1a1a;
  --highlight-font-color:#888888;
  --filename-font-color: #656565;
  --edited-font-color: #888888;
  --input-border-color: #e9e9e9;
  --input-border-bottom-color: #c7c7c7;
  --light-separator: #d3d3d3;
}

html, body {
  margin: 0;
}

button {
  -webkit-user-select: none;
}
button:active, button:focus,
input:active, input:focus {
  outline: none;
}

.app {
  display: flex;
  height: 100vh;
}
.app > * {
  width: 100vw;
}
.app.split > .editor,
.app.split > .preview {
  width: 50vw;
}
.app.onlypreview > .editor {
  display: none;
}
.app.onlyeditor > .preview {
  display: none;
}

@media (max-width: 900px) {
  /* small window and split view */
  .app.split .CodeMirror {
    font-size: 15px;
  }
  .app.split .CodeMirror-lines {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 500px) {
  /* even smaller window */
  div.CodeMirror {
    font-size: 15px;
  }
  div.CodeMirror-lines {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1000px) {
  /* large screen */
  .app.onlyeditor .CodeMirror {
    font-size: 19px;
  }
}


.react-codemirror2 {
  background-color: var(--background-color);
}

/* Hide text editor when metaEditor is open */
.metaeditor + .react-codemirror2 {
  display: none;
}

.preview {
  overflow: hidden;
  position: relative;
  border-left: 1px solid var(--light-separator);
}
.preview.paginated > .previewDiv {
  background-color: var(--underlay-background-color);
}
.preview iframe {
  border: 0;
  position: absolute;
}
.preview > button {
  width:  36px;
  height: 36px;
  border-radius: 18px;
  box-shadow: 0 1px #0000000a;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
.preview > button:active {
  background: var(--overlay-background-color);
}
.preview:hover > button {
  transition: opacity 0.12s ease-in;
  opacity: 1;
}
.zoomBtn, .exportBtn {
  position: absolute;
  bottom: 10px;
  right:  10px;
  font-size: 27px;
  background: var(--background-color);
  border: 0;
  cursor: pointer;
  line-height: 1;
  display: block;
}
.zoomIn {
  bottom: 55px;
}
.exportBtn {
  bottom: 100px;
  font-family: sans-serif;
  font-size: 20px;
}
