* {
  -webkit-print-color-adjust: exact; /* force printing of CSS backgrounds */
}
/*
uncomment this when https://gitlab.pagedmedia.org/tools/pagedjs/issues/94 is fixed
@page {
  size: A4;
  margin-top: 1.5cm;
}
*/
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
body {
  margin: 50px;
  margin-top: 100px;
  word-wrap: break-word;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
}
blockquote {
  margin: 2.5em 0 2.5em 2.5em;
  padding-left: 16px;
  border-left: 2px solid #e6e6e6;
}
code {
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  background-color: rgb(246,248,250);
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}
pre {
  padding: 16px;
  background-color: rgb(246,248,250);
  overflow: auto;
}
pre code {
  padding: 0;
  overflow: visible;
}
