@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'),
    url('./fonts/ibm-plex-sans-v7-latin-ext_latin_greek-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'),
    url('./fonts/ibm-plex-sans-v7-latin-ext_latin_greek-italic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'),
    url('./fonts/ibm-plex-sans-v7-latin-ext_latin_greek-700.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  src: local('IBM Plex Sans Bold Italic'), local('IBMPlexSans-BoldItalic'),
    url('./fonts/ibm-plex-sans-v7-latin-ext_latin_greek-700italic.woff2') format('woff2');
}

* {
  -webkit-print-color-adjust: exact; /* force printing of CSS backgrounds */
}
/*
uncomment this when https://gitlab.pagedmedia.org/tools/pagedjs/issues/94 is fixed
@page {
  size: A4;
  margin-top: 1.5cm;
}
*/
html {
  font-family: 'IBM Plex Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.7;
  background-color: #fcfcfc;
  color: #1a1a1a;
  font-size: 18px;
}
@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}
body {
  margin: 0 auto;
  max-width: 40em;
  padding: 50px;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
p {
  margin-top: 1.7em;
}
a {
  color: #1a1a1a;
}
a::visited {
  color: #1a1a1a;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.7em;
}
ol, ul {
  padding-left: 1.7em;
  margin-top: 1.7em;
}
li > ol, li > ul {
  margin-top: 0;
}
blockquote {
  margin: 1.7em 0 1.7em 1.7em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  font-style: italic;
}
code {
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  background-color: #f0f0f0;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}
pre {
  line-height: 1.5em;
  padding: 1em;
  background-color: #f0f0f0;
  overflow: auto;
}
pre code {
  padding: 0;
  overflow: visible;
}
hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin-top: 1.7em;
}
table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
}
th, td {
  border-bottom: 1px solid lightgray;
  padding: 1em 3em 1em 0;
}
